/* ------------susy-------- */
$total-columns : 12;
$column-width : 4em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: left;
$omega-float : right;

$default-transition-delay    : 0s;
@include border-box-sizing;

$small : 30em;
$xmedium : 34em;
$medium : 45em;
$larg : 65em;

.fullwidth{
	@include span-columns(12,12);
}
.oneSecond{
	@include span-columns(6,12);
	&:nth-child(2n){
		@include span-columns(6 omega,12);
	}
		
}

.oneThird{
	@include span-columns(4,12);
	&:nth-child(3n){
		@include span-columns(4 omega,12);
	}
		
}

.oneFourth{
	@include span-columns(3,12);
	&:nth-child(4n){
		@include span-columns(3 omega,12);
	}
		
}
.Fifth{
	@include span-columns(5,12);
			
}
.lastGrid{
	@include omega;
}

/*------ colors -----------*/

$orang : #e47a26;
$green : #8db63f;

$blue1 : #c0dbe9;
$blue2 : #00a7d4;
$blue3 : #0065b1;

$grey3: #4E4E4E;
$grey2 : #E6E7E7;
$grey1 : #F2F2F2;

$black3 : #1C1C1C;
$black2 : #282828;
$black1 : #111;


$white : #FFFFFF;
$white2 : #F8F8F8;

$glassyBlack : rgba(44, 35, 40, 0.85);
$glassyWhite : rgba(255, 255, 255, 0.85);


/*----------------gradiant----------------------*/
.back-gradiant-rtl{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e9ed+1,ffffff+100 */
background: #e6e9ed; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2U2ZTllZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #e6e9ed 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#e6e9ed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e6e9ed 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e6e9ed 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e6e9ed 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to right,  #e6e9ed 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9ed', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}
.back-gradiant-ltr{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e6e9ed+99 */
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U2ZTllZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  #ffffff 0%, #e6e9ed 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(99%,#e6e9ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffffff 0%,#e6e9ed 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffffff 0%,#e6e9ed 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffffff 0%,#e6e9ed 99%); /* IE10+ */
background: linear-gradient(to right,  #ffffff 0%,#e6e9ed 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e9ed',GradientType=1 ); /* IE6-8 */
}


