
// ---------- keyframes---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}

// ---------- site-header---------------------------------
.site-header{
	div.hero{
		text-align : center;
		a.site-url{
			display: inline-block;
			margin : auto;
			.site-logo{
				display: block;
				margin : 25px auto 5px;
				max-width : 240px;
			}
			span.site-desc{
				margin-bottom : 10px;
				display: inline-block;
				color : $orang;
			}
		}
		.lang-container{
			float : right;
			display : inline-block;
			padding : 10px;
			#lang_sel_list ul a.lang_sel_other,
			#lang_sel li ul a:link,
			 #lang_sel_list ul a.lang_sel_other:visited,
			 span.icl_lang_sel_current.icl_lang_sel_native,
			 a.lang_sel_sel {
    			background-color: rgba(0,0,0,0) !important;
    			background: rgba(0,0,0,0) !important;
    			border : 0px;
			}
			#lang_sel_list ul {
			    border-top: 0px;
			}
		}
	}
	nav.main-menu{
		
		width : 100%;
		
	}

}
ul.main-nav{
	@extend .green-cube-gradiant;
	@extend .def-box-shadow;
	@extend .def-transition;
	width : 100%;
	border-bottom : 4px solid $blue2;
	@include border-top-radius(20px);
	text-align : center;
	
	li{
		display : inline-block;
		a{
			@extend .def-transition;
			color : $white; 
			padding: 15px 10px;
    		display: inline-block;
    		&:hover{
    			background-color : lighten($green , 5%);
    		}
		}
	 }
}






