
div.footer-widget-area{
	

	.footer-col1,
	.footer-col2,
	.footer-col3,
	.footer-col4{
		@include span-columns(12,12);
		@include at-breakpoint($medium) {
			@include span-columns(3,12);
			margin-right: auto;
		}

	}
	.footer-col4{
		@include at-breakpoint($medium) {
			@include omega;
		}
	}
	
}
.credit-holder{
	text-align : center;

	.socials{
		float : none;
		text-align : center;
		display: block;
		
		@include at-breakpoint($medium) {
			float : right;
				display : inline-block;
		}
		
	}
	
	span.site-holder{
		
		display: block;
		text-align : center;

		float : none;
		@include at-breakpoint($medium) {
			float : left;
				display: inline-block;

		}
	}
}