/* main style */



//-------------site-content-------------------
.primary{
 	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(8,12);
 		margin-right: auto;
 	}
 	article.hentry{
		.article-body{
 			.featured-image.single-image{
 				@include span-columns(12,12);
			 	@include at-breakpoint($medium){
			 		@include span-columns(4,12);
			 		margin-right: auto;
			 	}
 			}
 			.excerpt{
				@include span-columns(12,12);
			 	@include at-breakpoint($medium){
			 		@include span-columns(8 omega,12);
			 		margin-right: auto;
			 	}
 			}
 		}
		ul.pharmacy-information-list{
			i:before{
				padding-right : none;
				padding-left : 7px;
			}
		}
 	}
 	 	
}
.grid-excerpt{
	font-size : 100%;
}


.secondary{
	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(4 omega,12);
 		margin-right: auto;

 	}
 	aside.widget{
 		font-size: 110%;
 		&.widget_last_products_widget{
			li img{
				margin-right : auto;
				margin-left : 10px;
			}
		}
 	}
	
	
}

