/* main style */



//-------------site-content-------------------
.primary{
 	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(8,12);
 		margin-right: auto;
 	}
 	article.hentry{
		.article-body{
 			.featured-image.single-image{
 				@include span-columns(12,12);
			 	@include at-breakpoint($medium){
			 		@include span-columns(4,12);
			 		margin-right: auto;
			 	}
 			}
 			.excerpt{
				@include span-columns(12,12);
			 	@include at-breakpoint($medium){
			 		@include span-columns(8 omega,12);
			 		margin-right: auto;
			 	}
 			}
 		}
		ul.pharmacy-information-list{
			i:before{
				padding-right : none;
				padding-left : 7px;
			}
		}
 	}
 	 	
}
.grid-excerpt{
	font-size : 100%;
}
.without-sidebar .primary{
	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(12,12);
 		margin-right: auto;
 	}
}

/*------------store locator----------------------*/
#wpsl-search-btn, #wpsl-search-wrap div {
    margin-right: 10px;
    float: right;
}
#wpsl-search-wrap div label {
    float: right;
    margin-left: 10px;
    margin-right : auto;
    line-height: 32px;
}
#wpsl-result-list {
    width: 33%;
    margin-left: .5%;
    margin-right: auto;
    float: right;
    text-align: right;
}
#wpsl-gmap {
    float: left;
    width: 66.5%;
}
.wpsl-direction-index {
    float: right;
    width: 8%;
    margin: 0 0 0 5%;
}
.wpsl-direction-txt {
    float: right;
    width: 62%;
}
.wpsl-direction-distance {
    float: left;
    width: 20%;
    margin: 0 5% 0 0;
}
/*------------store locator----------------------*/
.secondary{
	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(4 omega,12);
 		margin-right: auto;

 	}
 	aside.widget{
 		font-size: 110%;
 		&.widget_last_products_widget{
			li {
				font-size : 90%;
				img{
					margin-left : 10px;
					margin-right : auto;
				}
			}
		}
 	}
	
	
}


