
.comment-area{
	.comment-author{
		float : right ;
	}

	.comment-metadata{
		float : left;

	}
	.reply{
		float : left;
	}
	ol.children{
		padding : 0px 20px 0px 0px;
	}
	.depth-1{
		@include at-breakpoint($medium) {
			margin-left : auto;
			margin-right : 0;
		}
	}
	.depth-2{
		@include at-breakpoint($medium) {
			margin-right : 20px;
			margin-left : auto;
		}
	}
	.depth-3{
		@include at-breakpoint($medium) {
			margin-right : 40px;
			margin-left : auto;
		}
	}
	.depth-4{
		@include at-breakpoint($medium) {
			margin-right : 60px;
			margin-left : auto;
		}
	}
}
#commentform{
	label{
		float: right;
	}

}
